h1, h2 {
	margin-left: 50px;
}
#map {
	border: 4px solid #DFB683;
	width: 85%;
	height: 50px;
	padding-bottom: 20%;
	margin-top: 20px;
	margin-left: 50px;
	overflow: hidden;
}

input#address{
	width: 265px;
	height: 30px;
	align-content: center;
	font-size: 20px;
	text-align: center;
	font-family: 'Roboto','sans-serif';
    line-height: 30px;
    margin-left: 50px;
}
div.day {
	border-collapse: collapse;
	border: 4px solid #DFB683;
	width: 25%;
	height: 300px;
	float: left;
	position: relative;
	text-align: center;
	background-color: #FFEFD5;
	margin-bottom: 20px;
	margin-top: 50px;
	margin-left: 52px;
	overflow: scroll;
	font-family: 'Roboto','sans-serif';
}
body {
   font-size: 20px;
   background-color: #ADD8E6;
}